
.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body > nav > div > a{
  font-family: arial;
      font-style: italic;
      font-size: 32px;
margin-left: 500px;
}

.bg-dark {
    background-color: #a33327f0!important;
}

.nav-link:focus {
    color: #2fe4b2;
}

.navbar-brand:focus,  .navbar-brand:hover {
      color: #2fe4b2;
}

.card-footer:hover{
  background-color:#a33327;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #956854;
  background: linear-gradient(to right, #956854, white);
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body > nav > div > a{
  font-family: arial;
      font-style: italic;
      font-size: 32px;
margin-left: 500px;
}

.bg-dark {
    background-color: #a33327f0!important;
}

.nav-link:focus {
    color: #2fe4b2;
}

.navbar-brand:focus,  .navbar-brand:hover {
      color: #2fe4b2;
}

.card-footer:hover{
  background-color:#a33327;
}






.myButton {
	background-color:#a33327;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #151714;
}
.myButton:hover {
  background-color:#00ec00;
  color: black;
}
.myButton:active {
	position:relative;
	top:1px;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
  margin-top: 35px;
}
